/* General styles goes here */
html {
  transition: 0.2s ease-in-out;
  scroll-behavior: smooth;
}
* {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background: #81bbfa;
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
}
/* Section and Div styles */
.parent-wrapper,
.wrapper {
  height: 100vh;
  width: 100%;
}
.parent-wrapper {
  background-image: url(../images/village.avif);
  background-size: contain;
  background-repeat: calc();
}
.wrapper img {
  height: 30rem;
  position: absolute;
  bottom: 5%;
  left: -10%;
  animation: drive 10s linear infinite;
}

@keyframes drive {
  0% {
    left: -350px;
  }
  100% {
    left: 110%;
  }
}
